/* color palette from <https://github.com/vuejs/theme> */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'Dinkie';
  src: url(/src/assets/fonts/DinkieBitmap-9pxDemo.ttf);
}

@font-face {
  font-family: 'zpix';
  src: url(/src/assets/fonts/zpix.ttf);
}

body {
  background-image: url('/src/assets/graphs/Synth.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  list-style: none;
  font-family: Oxygen, Ubuntu, 'Microsoft Yahei', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
