@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

hr {
  margin: 1rem;
}
