/* color palette from <https://github.com/vuejs/theme> */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'Dinkie';
  src: url(/src/assets/fonts/DinkieBitmap-9px.ttf);
}

@font-face {
  font-family: 'zpix';
  src: url(/src/assets/fonts/zpix.ttf);
}

body {
  background-image: url('/src/assets/graphs/Synth.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vh;
  font-size: 1.1rem;
  font-size: 18px;
  max-height: 100vh;
  box-sizing: border-box;
  font-family: 'Microsoft Yahei', sans-serif;
  scroll-behavior: smooth;
}
