@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cho dark:bg-synth;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  ol {
    @apply list-decimal;
  }
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}
hr {
  margin: 1rem;
}
.header-anchor:hover {
  color: var(--active-fuschia);
}
